{% extends "base.html" %}

{% load thumbnail %}
{% load staticfiles %}

{% block contenido %}

<div class="quienesfondo">
  <img src="/media/{{foto_publi.foto}}" alt="">
  <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_publi.titulo}}</h1></div>
</div>

<div class="camino">
    <div class="row">
            <a href="/publicaciones"><h3>REGRESAR A TODAS LAS PUBLICACIONES</h3></a>
    </div>
</div>

<div class="row">

    <div class="newsimas">
        <p>{{publi.publicacion}}</p>
    </div>
    <div class="lineas">
        <div class="medium-6 columns">
            <p class="fecha_noticia"><i class="fa fa-calendar"></i> {{publi.fecha}} / <strong><i class="fa fa-user"></i> {{publi.autor}}</strong></p>
        </div>
        <div class="medium-6 columns">
            <div class="right">
            <p class="shared_social">
                <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=true&amp;height=21&amp;appId=200691280061950" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe> <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </p>
            </div>
        </div>
    </div>
</div>
<!-- cuerpo de la noticias -->
<div class="row detalle-noticia">
{% if publi.portada %}
        <img class="th" src="/media/{{publi.portada}}">
{% else %}
    <div class="img"><img src="/static/img/cidocimg.png" alt="{{publi.publicacion}}"></div>
{% endif %}
<p><i class="fa fa-building-o"></i> <span>Editorial:</span> {{publi.editorial}} || <i class="fa fa-file-code-o"></i> <span>Codigo:</span> {{publi.codigo}}</p>
     
<p><i class="fa fa-check"></i> <span>Disponibilidad:</span> {{publi.iddisponibilidad}}</p>

<p align="justify"><span>Resumen:</span> {{publi.resumen|safe }}</p>

<p align="justify"><span>Notas:</span> {{obj.notas}}</p>

<p><i class="fa fa-tags"></i> <span>Palabras claves:</span> {{publi.claves}}</p>

</div>

<!-- area de temas y descargas de ficheros adjuntos -->
<div class="row">
    <hr>
    <div class="medium-6 columns tmatica"> <span>Temáticas:</span> <div class="tematica">{%for tema in publi.idtematica.all%}{{tema}}, <br> {%endfor%}</div></div>
    <div class="medium-6 columns">
        <div class="descargas right">
            {% if publi.archivo1 %}
                <i class="fa fa-download fa-2x"></i> <span><a href="/media/{{publi.archivo1}}">Descargar adjunto1,</a></span> <br>
            {% endif %}
            {% if publi.archivo2 %}
                <span class="adjunto1"><a href="/media/{{publi.archivo2}}">Descargar adjunto2,</a></span> <br>
            {% endif %}
            {% if publi.archivo3 %}
                <span class="adjunto1"><a href="/media/{{publi.archivo3}}">Descargar adjunto3</a></span>
            {% endif %}
            
        </div> 
    </div>
    <hr>
</div>

<div class="row">
    <hr>   
    <div id="disqus_thread"></div>
</div>
<hr>
{% include "footer.html" %}
{% endblock contenido %}