/* CSS DEL MIXITUP PARA PUBLICACIONES */

/* CSS PARA BOTONES DE ORDENAMIENTO */
.filtros {
  margin-top: 14px;
  margin-right: 13px;
  }

.filtros li {
  list-style-type: none;
  display: inline;
  }
.filtros li a {
  color: #fff;
}
.filtros p {
  display: inline;
  margin-right: 13px;
  color: #FFFFFF;
  }
.buton {
  background:#008641;
  text-indent:0;
  display:inline-block;
  color:#FFFFFF;
  font-family:'Roboto';
  font-size:18px;
  font-weight:bold;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  padding: 15px;
}
.buton:hover {
opacity: 0.6
}.buton:active {
  position:relative;
  top:1px;
}
#Container {
  padding: 15px;

}

#Container .mix{
  display: none;
}

.mix {
  padding: 7px;
  width: auto;
  color: white;
  margin-bottom: 10px;
}

.notax.portafoliox {
  background: none repeat scroll 0 0 #f1f3f2; /* color de fondo */
  margin: 1em auto;
  /*overflow: hidden;*/
  padding: 1em 1em;
  position: relative;
}

.notax.portafoliox:before {
  -ms-transform:rotate(-270deg); /* rotate to make the triangle have the right angle */
  -webkit-transform:rotate(-270deg); 
  transform:rotate(-270deg);
  background: none repeat scroll 0 0 #bdbec2; /* color de esquina */
  border-color: #FFFFFF #FFFFFF #f1f3f2 #f1f3f2; /* color de borde */
  border-style: solid;
  border-width: 0 36px 36px 0;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  z-index: 1;
  -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
  box-shadow:inset 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
}

.ih-item.square {
height: 177px;
}

.ih-item.square.effect12 .info h3 {
text-transform: uppercase;
color: #fff;
text-align: center;
font-size: 14px;
padding: 10px;
background: rgb(71, 194, 66);
margin: 30px 0 0 0;
-webkit-transition: all 0.35s ease-in;
-moz-transition: all 0.35s ease-in;
transition: all 0.35s ease-in;
}
@media only screen and (max-width: 64em){
  .filtros p {display: none;}
}
.resultespacio {
  margin-bottom: 19px;
}