{% extends "base.html" %}

{% block extra_js %}
<script src="/static/js/stickyMojo.js"></script>
<script>
    $(document).ready(function() {
        $('#sidebar').stickyMojo({footerID: '#footer', contentID: '#acercade'});
        $('.menu a.menu1').addClass('activate');
    
    });
</script>
{% endblock extra_js %}

{% block contenido %}
<div class="quienesfondo">

    <img src="/media/{{foto_quienes.foto}}" alt="">
    <div class="row"><h1 class="text-center texto wow bounceInRight" data-wow-duration="2s">{{foto_quienes.titulo}}</h1></div>
</div>
<div class="row separadorU generales">
    <p class="text-center"> 
    <strong>El Servicio de Información Mesoamericano sobre Agricultura Sostenible (SIMAS)</strong> <br>
    es una asociación civil sin fines de lucro comprometida en la construcción de formas de vida <br>
    democrática y sostenible para el mundo rural. Su legalización se realizó mediante el Decreto <br>
    No 3533 sesión Asamblea Nacional mayo 14 2003.
    <br> <br>
    Ver certificación de Junta Directiva <a href="https://www.dropbox.com/s/yzy94mgxwih16fd/CERTIFICACION_JD.redimencionado1.jpg.jpg?dl=0">aquí</a> <br>
    Descarga desde <a href="https://www.dropbox.com/s/iv18m7z4ixy3g9c/CONSTANCIA_CUMPLIMIENTO.redimencionado1.jpg.jpg?dl=0">aquí</a> la Constancia de Cumplimiento actualizada.
    </p>
</div>

<div id="FondoU">
<div class="row separadorU">
    <div class="medium-6 columns separadorU mision">
        <h2>Nuestra misión</h2>
        <p>Fortalecemos en conjunto con otros actores en articulación mesoamericana los procesos de innovación y comunicación para el desarrollo de capacidades de aprendizaje de las familias campesinas en Agricultura Sostenible, que permite el desarrollo humano rural integral con equidad de género y generacional.</p><br>

        <h2>Nuestra visión institucional</h2>
        <p>Una asociación de referencia en Nicaragua y Mesoamérica en los campos de comunicación, conocimiento y saberes sobre agricultura sostenible en un contexto de desarrollo rural integral.</p><br>

        <h2>Nuestra visión de desarrollo</h2>
        <p>Familias campesinas con capacidades de aprendizaje para afrontar retos ambientales y su inclusión a mercados e innovar junto con actores sociales una propuesta estructurada de desarrollo sostenible.</p><br>
    </div>
    <div class="medium-6 columns separadorU">
        <p class="text-center">
            <img  id="imgquienes" src="/static/img/imagenRedonda.png" alt="">
        </p>
    </div>  
</div>
</div>

<div id="wrapper">
<div class="row">
    <div class="medium-3 columns hide-for-small-only">
        <aside id="sidebar">
            <div class="inside">
            <ul class="side-nav">
                <li><a href="#valores">Valores</a></li>
                <li class="divider"></li>
                <li><a href="#objetivo_general">Objetivo general</a></li>
                <li class="divider"></li>
                <li><a href="#objetivos_esp">Objetivos específicos</a></li>
                <li class="divider"></li>
                <li><a href="#organigrama">Organigrama</a></li>
                <li class="divider"></li>
                <li><a href="#ejes_estrategicos">Ejes estratégicos</a></li>
                <li class="divider"></li>
                <li><a href="#temas">Temas de trabajo</a></li>
                <li class="divider"></li>
                <li><a href="#identificacion">Alianzas</a></li>
                <li class="divider"></li>
                <li><a href="#ofrecemos">Ofrecemos</a></li>
                <li class="divider"></li>
                <li><a href="#asesoramos">Asesoramos</a></li>
                <li class="divider"></li>
                <li><a href="/historia-simas">Historia de SIMAS</a></li>
            </ul>
            </div>
        
        </aside>
    </div>
    <div class="medium-9 columns acerca" id="acercade">
    <a name="valores"><h2>Valores</h2></a>
    <br>
    <ul id="valores">
        <li>Solidaridad</li>
        <li>Respeto a la diversidad</li>
        <li>transparencia</li>
        <li>Inclusión</li>
        <li>Excelencia</li>
    </ul>
        <!-- <a name="resumen"></a><h2>Acerca de SIMAS</h2>
        <p align="justify">
            El SIMAS fue creado en 1992 como un programa
            del Centro de Intercambio Cultural y Técnico (CICUTEC) constituido Foto archivo SIMAS en 1989. </p>
            <p align="justify">En febrero del 2003 SIMAS se constituyó como una organización civil sin fines de lucro, con personería jurídica y estatutos propios.</p>
            <p align="justify">A partir del 2008, SIMAS, elabora su Plan Estratégico 2009-2014, con el aporte de las organizaciones, gremios, movimientos sociales e instituciones, que le permita mejorar e innovar su aporte en los campos de conocimiento, comunicación e incidencia, mancomunando iniciativas locales bajo la sombrilla de innovación de la agricultura sostenible.</p>
            <p align="justify">Por ello, SIMAS ha adecuado su estrategia privilegiando su trabajo en los territorios con organizaciones locales, este nuevo enfoque no deja de lado su trayectoria sino que se utiliza lo construido para trabajar con las personas, familias y organizaciones que pueden provocar los cambios reales en los temas vinculados a la agricultura sostenible. Se está avanzando en un modelo de sostenibilidad institucional.</p> -->
        
        <hr>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <a name="objetivo_general"><h2>Objetivo general</h2></a>
        <br>
        <p>Generar capacidades en los actores mesoamericanos para que manejen procesos de innovación en agricultura sostenible en un contexto de desarrollo rural integral, con el uso de la información que permite desarrollar nuevos conocimientos y habilidades para tomar decisiones oportunas respecto a la SSAN, las incertidumbres y variabilidades ambientales y económicas.</p>
        <hr>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <a name="objetivos_esp"><h2>Objetivos específicos</h2></a>
        <br>
      <ol>
          <li>Promover el acceso a la información y el uso de metodologías y herramientas que faciliten la innovación en Agricultura Sostenible en los movimientos sociales, redes y plataformas.</li><br>
          <li>Crear capacidades en otros actores para el aprendizaje y rescate de saberes sobre Agricultura Sostenible, a nivel territorial, nacional y regional.</li><br>
          <li>Fortalecer las capacidades de la Asociación SIMAS que permitan promover la Agricultura Sostenible y asegurar la sostenibilidad institucional.</li><br>
      </ol>
        <hr>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
 
        <a name="organigrama"></a><h2>Organigrama de trabajo</h2>
        <img src="/static/img/organigrama.png" alt="">
        <hr>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <a name="ejes_estrategicos"><h2>Ejes estratégicos</h2></a>
        <br>
        <ol>
            <li>Acceso a información y metodologías en el contexto de la Agricultura sostenible</li>
            <li>Aprendizaje organizacional</li>
            <li>Capacidades de actores para la Agricultura sostenible</li>
        </ol>
        <hr>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
 
        <a name="temas"></a><h2>Temas de trabajo</h2>
        <p>SIMAS aborda la innovación de la agricultura sostenible con un enfoque amplio y desarrolla estrategias y acciones en los campos de conocimiento, comunicación con el apoyo de socios y aliados en los ámbitos locales, nacionales y regionales en los temas de:</p><br>

        <ol>
        <li>Agroecología</li>
        <li>Conservación y gobernanza de los recursos naturales.</li>
        <li>Desarrollo de empresas rurales.</li>
        <li>Desarrollo de servicios locales de información y comunicación.</li>
        <li>Desarrollo humano con equidad.</li>
        <li>Soberanía y seguridad alimentaria.</li>

        </ol>
        <hr>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

        <a name="identificacion"></a><h2>Identificaci&oacute;n de socios y alianzas</h2>
        <br>
        <h5><strong>Plataformas territoriales</strong></h5><br>
        <!-- <p align="justify">Para fortalecer la capacidad local de innovaci&oacute;n de la agricultura sostenible las organizaciones socias y SIMAS han priorizado los siguientes territorios.</p> -->
        <ul>
        <li>Organizaciones socias ubicadas en la Zona Seca en los municipios de Chinandega y Somotillo.</li>
        <li>Organizaciones socias ubicadas en la zona Alta en el municipio de Matagalpa.</li>
        </ul>
        
        <br>
        
        

       
        <h5><strong>Movimientos sociales</strong></h5>
       <br>
        <ul>
        <li>Movimiento de Productoras y Productores Agroecol&oacute;gico y Org&aacute;nico(MAONIC).</li>
        <li>La Asociación Mundial de Radios Comunitarias (AMARC), capítulo Nicaragua.</li>
        </ul>
        
        <br>

        <h5><strong>Plataformas y redes nacionales</strong></h5>
        <br>
        <ul>
        <li>Alianza Semillas de Identidad</li>
        <li>Comité Nacional Asesor del CATIE (CAN)</li>
        <li>Grupo de Usuarios LINUX, Nicaragua.</li>
        <li>Grupo Promotor de Agricultura Ecológica (GPAE)</li>
        <li>Programa Medios de Vida Sostenible - (Trocaire)</li>
        <li>Red Nacional de Información y Documentación Agraria (RENIDA)</li>
        </ul>
       
    <br>


        <h5><strong>Plataformas y alianzas regionales</strong></h5>
        <br>
        <ul>
            <li>Plataforma para el Desarrollo Rural Sostenible: Alianza por la Agroecología</li>
            <li>Programa de Medios de Vida Sostenible con Enfoque de la Gestión de Riego - (CAFOD)</li>
            <li>Programa de Recursos Digitales para el Desarrollo Sostenible – (RED-DES)</li>
            <li>Red Latinoamericana de Servicios de Extensión Rural (RELASER)</li>
        </ul>
        <hr>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <a name="ofrecemos"></a><h2>Ofrecemos</h2>
        <ol>
        <li>A investigadores, estudiantes, gerentes y consultores; servicios de b&uacute;squeda de informaci&oacute;n especializada desde un moderno Centro de Informaci&oacute;n y Documentaci&oacute;n.</li>
        <br>
        <li>A navegadores del espacio cibern&eacute;tico; acceso a noticias, eventos y publicaciones a trav&eacute;s de nuestro sitio web especializado.</li>
        <br>
        <li>A organizaciones, movimientos sociales, redes nacionales y mesoamericanas; plataformas de comunicaci&oacute;n, sistematizaci&oacute;n de experiencias, intercambio de informaci&oacute;n y materiales.</li>
        <br>
        <li>A radios comunitarias; programas radiales en temas de agricultura sostenible.</li>
        <br>
        <li>A organizaciones campesinas y gremiales, empresas rurales y organizaciones de apoyo; capacitaci&oacute;n y acompa&ntilde;amiento en el an&aacute;lisis y desarrollo de mercados, planes estrat&eacute;gicos y de negocios. </li>
        <br>
        </ol>
        <hr>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
        <a name="asesoramos"></a><h2>Asesoramos</h2>
        <ol>
        <li>Producci&oacute;n de materiales impresos, electr&oacute;nicos y audiovisuales.</li>
        <br>
        <li>Uso de tecnolog&iacute;a inform&aacute;tica basada en Software Libre</li>
        <br>
        <li>Uso de medios electr&oacute;nicos de comunicaci&oacute;n como Blog, p&aacute;gina web y sistemas de informaci&oacute;n.</li>
        <br>
        <li>Producci&oacute;n de materiales interactivos digitalizados.</li>
        <li>Edici&oacute;n y producci&oacute;n de materiales educativos en versiones populares.</li>
        <br>
        <li>Manejo de informaci&oacute;n y desarrollo de bibliotecas comunitarias de estrategias de construcci&oacute;n de opini&oacute;n p&uacute;blica a favor de la agricultura sostenible.</li>
        <br>
        </ol>
    </div>
</div>
</div>
<hr>
 
{% include "footer.html" %}
{% endblock contenido %}