


/* Button */
#download,
#setting_switch {
    display: block;
    float: right;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin: 5px 5px 0px 0px;
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    background-image: url('sprite.png');
    border-radius: 3px;
    -webkit-animation: setting 0.8s;
       -moz-animation: setting 0.8s;
        -ms-animation: setting 0.8s;
         -o-animation: setting 0.8s;
            animation: setting 0.8s;
}
#download {
    background-position: -262px -665px;
}
#setting_switch {
    background-position: -262px -553px;
}
#download:hover,
#setting_switch:hover,
#setting_switch.active {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) inset;
}
#settings div.arrow,
#settings div.arrow:after {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #CCCCCC;
}
#settings div.arrow:after {
    content: '';
    position: absolute;
    top: -9px;
    left: -10px;
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-bottom: 10px solid #FFFFFF;
}



#demo_links {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
}
#demo_links a {
    outline: none;
    display: block;
    float: left;
    height: 100%;
    line-height: 50px;
    font-size: 0.6em;
    text-decoration: none;
    padding: 0px 10px;
    text-transform: uppercase;
    color: #888888;
}
#demo_links a:hover {
    background-color: #EEEEEE;
}
#demo_links a.active,
#demo_links a.active:hover {
    background-color: #0F6FAA;
    color: #FFFFFF;
    cursor: default;
}

@media screen and (max-width: 700px) {
    #social {
        display: none;
    }
}
@media screen and (orientation:portrait) {
    #social {
        display: none;
    }
}

@-webkit-keyframes setting {
    from {-webkit-transform: translateY(-50px);}
    to {-webkit-transform: translateY(0px);}
}
@-moz-keyframes setting {
    from {-moz-transform: translateY(-50px);}
    to {-moz-transform: translateY(0px);}
}
@-ms-keyframes setting {
    from {-ms-transform: translateY(-50px);}
    to {-ms-transform: translateY(0px);}
}
@-o-keyframes setting {
    from {-o-transform: translateY(-50px);}
    to {-o-transform: translateY(0px);}
}
@keyframes setting {
    from {transform: translateY(-50px);}
    to {transform: translateY(0px);}
}

@-webkit-keyframes footer {
    from {-webkit-transform: translateY(50px);}
    to {-webkit-transform: translateY(0px);}
}
@-moz-keyframes footer {
    from {-moz-transform: translateY(50px);}
    to {-moz-transform: translateY(0px);}
}
@-ms-keyframes footer {
    from {-ms-transform: translateY(50px);}
    to {-ms-transform: translateY(0px);}
}
@-o-keyframes footer {
    from {-o-transform: translateY(50px);}
    to {-o-transform: translateY(0px);}
}
@keyframes footer {
    from {transform: translateY(50px);}
    to {transform: translateY(0px);}
}