/* demo */

#social_search {
    text-align: center;
    margin-top: 20px;
}
#timeline {
    margin: 20px auto;
    padding: 0px 20px;
    max-width: 900px;
}
#timeline.demo2 {
    max-width: 700px;
}
#timeline.demo3,
#timeline.demo4 {
    width: 400px;
}
#timeline.schedule {
    width: 470px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
#timeline.facebook {
    max-width: 940px;
}
#timeline.twitter,
#timeline.rss {
    max-width: 700px;
}
#timeline.dynamic {
    max-width: 800px;
}
.iphone6 {
    position: relative;
    width: 380px;
    height: 755px;
    margin: 10px auto 10px auto;
    background: url(../images/iphone6.png) no-repeat 50% 50%;
}
.iphone6 iframe {
    position: absolute;
    display: block;
    width: 336px;
    height: 554px;
    top: 95px;
    left: 22px;
    border: none;
    border-radius: 2px;
    background: #252F39;
}

@media screen and (max-width: 700px) {
    #menu {
        position: relative;
        left: auto;
        top: auto;
        font-size: 11px;
        color: #FFFFFF;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }
    #menu div {
        border-right: none;
        margin-bottom: 1px;
        padding-right: 5px;
        height: 25px;
        line-height: 25px;
        cursor: pointer;
        text-align: center;
        background-color: #7A0004;
    }
    #menu div:hover {
        border-right: none;
        color: #FFFFFF;
        text-decoration: underline;
        background-color: #7A0004;
    }
}
#loadmore {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
    cursor: pointer;
    margin: 10px auto 20px auto;
    width: 100px;
    background: red;
    text-align: center;
    padding: 10px 0px;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
    background: #D84A38;
    background: -webkit-linear-gradient(top, #dd4b39, #d14836);
    background: -moz-linear-gradient(top, #dd4b39, #d14836);
    background: -ms-linear-gradient(top, #dd4b39, #d14836);
    background: -o-linear-gradient(top ,#dd4b39, #d14836);
    background: linear-gradient(top, #dd4b39, #d14836);
}
#loadmore:hover {
    background: #CC3524;
    background: -webkit-linear-gradient(top, #d14836, #dd4b39);
    background: -moz-linear-gradient(top, #d14836, #dd4b39);
    background: -ms-linear-gradient(top, #d14836, #dd4b39);
    background: -o-linear-gradient(top, #d14836, #dd4b39);
    background: -linear-gradient(top, #d14836, #dd4b39);
}
#loadmore:active {;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2) inset;
}
#loadmore.loading {
    cursor: default;
    color:  #AAAAAA;
    text-shadow: 0px 1px 1px #FFFFFF;
    box-shadow: none;
    background-size: 40px 40px;
    background-color: #DEDEDE;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-animation: loading 1s linear infinite;
       -moz-animation: loading 1s linear infinite;
        -ms-animation: loading 1s linear infinite;
         -o-animation: loading 1s linear infinite;
            animation: loading 1s linear infinite;
}
@-webkit-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@-moz-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@-ms-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@-o-keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}
@keyframes loading {
    from {background-position: 0px 0px;}
    to {background-position: 40px 0px;}
}